.box{
	height:950px;
	width:1250px;
	background-color: #090426;
	border-radius: 15px 15px 0px 0px ;
	
}
.top{
	width:auto;
	height:190px;
	background-color:#0a032c;
	display:flex;
	border-radius: 15px;
}
.topleft{
	width:480px;
	height:190px;
	border-radius: 15px;
	background-color: rgb(2, 2, 34);
	color:aliceblue;
	 box-shadow: 0px 10px 10px 0px rgb(58, 54, 53);
	
}
.topleft p{
	margin:0px 0px 0px 10px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.topleft h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	background:linear-gradient(rgb(50, 50, 133),rgb(153, 153, 219),blue,rgb(78, 78, 110));
	text-decoration: underline;
	color:transparent;
	-webkit-background-clip: text;
}
.topright{
     margin:5px 10px 0px 50px;
}
img{
	height:180px;
	border-radius: 10px;
	box-shadow: 0px 10px 10px 0px rgb(12, 1, 38);
	width:348px;
	margin:10px 5px 0px 0px;
	transition-duration: 500ms;
}
img:hover{
	transform: scale(1.1);
	transform: none;
}
.leftdiv{
	width:300px;
	height:477px;
	background-color: rgb(2, 2, 34);
	display: flex;
	border-radius: 15px;
	border-radius:15px 15px  15px 15px;
	box-shadow: 0px 3px 3px 0px rgb(153, 153, 219);
}

.center{
	margin:40px 0px 0px 0px;
	display: flex;
	width:1250px;
}
.rightdiv input{
	width:350px;
	height:30px;
	border-radius: 10px 0px 0px 10px;
	margin:8px 0px 0px 30px;
}
.leftdiv button{
	width:70px;
	height:30px;
	background-color: rgb(122, 14, 217);
}
.leftdiv button:hover{
	width:200px;
}
.leftdiv h2{
	background:linear-gradient(rgb(50, 50, 133),rgb(153, 153, 219),blue,rgb(78, 78, 110));
	text-decoration: underline;
	color:transparent;
	-webkit-background-clip: text;
	margin:20px 0px 30px 0px;
		padding:0px;

}
.leftdiv a{
	color:rgb(252, 254, 255);
	font-size: 23px;
		padding:0px 0px 0px 0px;

	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.leftdiv ul li a {
	list-style: none;
}
.rightdiv button{
	width:60px;
	height:35px;
	border-radius:0px 10px 10px 0px;
	margin:9px 0px 0px 0px; 
	border-width:2px
}
.rightdiv{
	display:flex;
	background-color: rgb(2, 2, 34);
	height:50px;
	width:1082px;
	margin:0px 8px 0px 5px;
	border-radius: 15px 9px 9px 15px;
	border-radius:15px 15px  15px 15px;
	box-shadow: 2px 0px 0px 2px rgb(153, 153, 219);
	
}
.rightdiv nav ul{
	display:flex;
	margin:10px 0px 0px 70px;
	gap:90px;
	text-decoration: none;
}
.rightdiv nav ul li{
	text-decoration: none;
	list-style: none;
}
.rightdiv nav ul li a{
	text-decoration: none;
	font-size: 20px;
	font-family: cursive;
}
.imagess{
	 margin:8px;
  width:1080px;
  display:flex;
  overflow-x: auto;
  gap:1em;
}
.imagess::-webkit-scrollbar{
	display:none;
}
.picture{
	background-color: rgb(3, 22, 44);;
display:flex;
gap:40px;
animation:spin 15s infinite linear ;

}
.photo{
	  
  height:10em;
  padding:0.2em;
  background: rgb(3, 22, 44);;
  text-align: center;
  font-size: 2.5rem;
  align-content: center;
  border-radius: 15px;
}
@keyframes spin{
	from{translate: 0;}
	to{translate: -100%;}
}
.photo img{
	height:400px;
    width:400px;
    margin:0px;
	transform: none;
}
.bottomcontent{
	display:flex;
	margin:30px 0px 0px 10px;
}
.bottumleft{
	margin:0px 0px 0px 10px;
	width:500px;
	height:190px;
	background-color: beige;
	border-radius: 15px;
}
.bottumleft h1{
	margin:10px 0px 15px 250px;
	background:linear-gradient(rgb(50, 50, 133),rgb(153, 153, 219),blue,rgb(78, 78, 110));
	text-decoration: underline;
	color:transparent;
	-webkit-background-clip: text;
		padding:0px;
}
.bottumleft p{
	margin:0px 0px 0px 10px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.bottumleft{
		width:519px;
	height:190px;
	border-radius: 15px;
	background-color: rgb(2, 2, 34);
	color:rgb(190, 217, 242);
	 box-shadow: 0px 10px 10px 0px rgb(58, 54, 53);
}
.bottumright img{
	transition: none;
	transform: none;
}
.bottumcontent{
	width:1240px;
	height:600px;
	background-color: #090426;
}
.bottomcontentt{
	background-color: rgb(236, 15, 15);
	position: relative;
	width:30rem;
	overflow: hidden;
}
.text{
	width:fit-content;
	background-color: #090426;
	display:flex;
	gap:1rem;
	flex:0 0 auto;
	animation:animation 15s linear infinite;

}
.letter{
	display:flex;
	width:300px;
	align-items: center;
	text-align: center;
	justify-content: center;
	color:rgb(249, 245, 245);
	gap:0 0.2rem;
	font-size: 1rem;
	background-color: #201d32;
	padding:0.5rem 1rem;
	border-radius: 5px;
	box-shadow: 
	0 0.1rem 0.2rem #00000033
	0 0.1rem 0.5rem #0000004d
	0 0.2rem 1.5rem #00000066;
}
.fade-left,
.fade-right{
	position:absolute;
	top:0;
	width:4rem;
	height:100%;
	pointer-events: none;
	z-index: 1;
}

@keyframes animation{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(-100%);
	}
}
.buy{
	height:auto;
	width:1230px;
	margin:0px 0px 0px 1px;
	display:flex;
	background-color: #090426;
	border-radius: 0px;
	 display:grid;
     grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
}
.shop{
	height:350px;
	width:370px;
	background-color:#090426;
	margin: 30px 30px 10px 0px;
	justify-content: center;
	text-align: center;
	color:rgb(252, 245, 245);
	
	border-radius:15px 15px  15px 15px;
	box-shadow: 0px 3px 3px 0px rgb(153, 153, 219);
}
.shop button{
	background-color: aliceblue;
	border-radius: 7px 0px 7px 0px;
}
.shop button:hover{
	color:red;
	background-color: black;

} 
.shop img{
	margin:6px;
}
.shop img:hover{
       transform: scale(1.08);
                box-shadow: 0 15px 35px rgba(5, 236, 178, 0.4);
}
.shop h1{
	font-family:'Courier New', Courier, monospace;
}
.shop p{
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.lowerend{
	margin:0px ;
	background-color: #090426;
}

.lowerend button{
	width: 380px;
	height:50px;
	border-radius: 10px;
	margin:30px 0px 0px 410px;
	justify-content: center;
}
.footerleft h2{

	background-color: #03010f;
	border-radius: 40px;
	color:aliceblue;


}
.footerleft{
	width:500px;
	height:250px;
	background-color: rgb(8, 1, 26);
	border-radius: 15px;
	margin:40px 0px 0px 10px;
	 box-shadow: 0px 10px 10px 0px rgb(58, 54, 53);
}
.footerleft h1{
		font-family: Georgia, 'Times New Roman', Times, serif;
	background:linear-gradient(rgb(50, 50, 133),rgb(153, 153, 219),blue,rgb(78, 78, 110));
	text-decoration: underline;
	color:transparent;
	-webkit-background-clip: text;
}
.footerleft p{
	color:white;
}
.media{
	display:flex;
}
.media h2{
	justify-content: center;
	width:40px;
	height:40px;
	background-color: rgb(0, 2, 2);
	margin:20px 0px 0px 40px;
	display:flex;
	gap:0px
}
.footer{
	display:flex;
	margin:10px 0px 0px 0px;
	background-color: #090426;
	box-shadow: 0px 10px 10px 0px rgb(58, 54, 53);
}
.footerhome{
	width:200px;
	height:250px;
	background-color: #201d32;
	border-radius: 10px;
	margin:40px 0px 40px 20px;
	color:whitesmoke;
}
.footerhome ul li{
	list-style: none;
}
.end{
	
}
footer{
	margin:0px 0px 0px 0px;
}
.margin p{
	margin:60px 0px 0px 0px;
	height:50vh;
}
.finesh{
	text-align: center;
	background-color: #09051e;
	color:white;
	height:360px;
	border-radius: 0px 0px 15px 15px;
	 box-shadow: 0px 10px 10px 0px rgb(45, 70, 136);
}
.finesh h2{
	width:642px;
	height:70px;
	background-color:#06021be0;
	border-radius: 13px;
	margin:0px 0px 60px 300px;
	color:white
}
.buyhidden{
	display:none;
}
#showmore{
	cursor: pointer;
}